.topbar-appBar {
  height: 60px;
  justify-content: center;
  background-color: #1976d2;
}

.topbar-toolbar {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.topbar-title {
  position: absolute;
  left: 20px;
  font-weight: 500;
}

.topbar-context {
  position: absolute;
  right: 20px;
  font-weight: 400;
  opacity: 0.9;
  text-align: right;
}

.topbar-advanced-features {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
